<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="keywords" content="">

	<title>COPA</title>

	<!-- Styles -->

	<link href="{{ url_for('static', filename='landing_page_assets/css/page.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='landing_page_assets/css/style.css') }}" rel="stylesheet">

	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

	

	<!-- Favicons -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

	<!-- Navbar -->
	<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light navbar-stick-dark" data-navbar="smart">
		<div class="container">

			<div class="navbar-left mr-4">
				<button class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span></button>
				<a class="navbar-brand" href="#">
					<img class="logo-light"
						src="https://raw.githubusercontent.com/muhiza/extrat/master/static/logo-dark.png" alt="logo">
				</a>
			</div>

			<section class="navbar-mobile">
				<nav class="nav nav-navbar">
					<a class="nav-link active" href="#home">Home</a>
					<a class="nav-link" href="#section-features">Features</a>
					<a class="nav-link" href="#section-pricing">Pricing</a>
					<a class="nav-link" href="https://medium.com/aicos" target="_blank">Resources</a>
					<a class="nav-link" href="https://twitter.com/AicosOfficial" target="_blank">Contact</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

					<a class="navbar-brand" href="{{ url_for('auth.rwanda') }}" style="width: 20px;">
						<img class="logo-light"
							src="{{ url_for('static', filename='landing_page_assets/img/flag-of-Rwanda.png') }}" alt="logo">
					</a>


					<a class="navbar-brand" href="{{ url_for('auth.english') }}" style="width: 20px;">
						<img class="logo-light"
							src="{{ url_for('static', filename='landing_page_assets/img/flag-of-United-Kingdom.png') }}" alt="logo">
					</a>



				</nav>

				<div class="d-none d-stick-block">
					<a class="btn btn-sm btn-light ml-lg-5 mr-2" href="{{ url_for('auth.login') }}">Login</a>
					<a class="btn btn-sm btn-success" href="{{ url_for('auth.register') }}">Sign up</a>
				</div>
			</section>

		</div>
	</nav><!-- /.navbar -->


	<!-- Header -->
	<header id="home" class="header text-white h-fullscreen text-center text-lg-left" style="background-color: #24292e">
		<canvas class="constellation" data-color="rgba(255,255,255,0.3)"></canvas>
		<div class="container">
			<div class="row align-items-center h-100">

				<div class="col-lg-6">
					<h1>Digitizing Cooperatives.</h1>
					<p class="lead mt-5 mb-8">
							Automate & Integrate your cooperative's daily activities to improve 
							member's socio-economic situations by encouraging the benefits of co-operative 
							enterprises using technology.
					</p>
					<p class="gap-xy">
						<a class="btn btn-round btn-light mw-150" href="{{ url_for('auth.register') }}">Sign up</a>
					</p>
				</div>

				<div class="col-lg-5 ml-auto">
					<img class="mt-5"
						src="{{ url_for('static', filename='landing_page_assets/img/preview/laptop-1.png') }}"
						alt="img">
				</div>

			</div>
		</div>
	</header><!-- /.header -->


	<!-- Main Content -->
	<main class="main-content">

		<!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Welcome
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
		<section class="section">
			<div class="container">
				<header class="section-header">
					<small>Welcome</small>
					<h2>Get a Better Understanding</h2>
					<hr>
				</header>



				<div class="row gap-y">

					<div class="col-md-8 mx-auto">

						<img src="{{ url_for('static', filename='landing_page_assets/img/preview/dribbble-9.gif') }}"
							alt="..." data-aos="fade-up" data-aos-duration="2000">
					</div>


					<div class="w-100"></div>


					<div class="col-md-6 col-xl-4">
						<div class="media">
							<div class="lead-6 line-height-1 text-dark mr-5"><i class="icon-mobile-phone"></i></div>
							<div class="media-body">
								<h5>Responsive</h5>
								<p>COPA Platform works on any device: desktop, tablet or mobile.</p>
							</div>
						</div>
					</div>


					<div class="col-md-6 col-xl-4">
						<div class="media">
							<div class="lead-6 line-height-1 text-primary mr-5"><i class="icon-gears"></i></div>
							<div class="media-body">
								<h5>Customizable</h5>
								<p>You can easily read, edit, and write your own layout of the COPA platform, or change everything.</p>
							</div>
						</div>
					</div>


					<div class="col-md-6 col-xl-4">
						<div class="media">
							<div class="lead-6 line-height-1 text-info mr-5"><i class="icon-dashboard"></i></div>
							<div class="media-body">
								<h5>Management Kit</h5>
								<p>There is a bunch of useful and necessary tools for managing your cooperative's daily operations.</p>
							</div>
						</div>
					</div>


					<div class="col-md-6 col-xl-4">
						<div class="media">
							<div class="lead-6 line-height-1 text-warning mr-5"><i class="icon-share"></i></div>
							<div class="media-body">
								<h5>Shareable.</h5>
								<p> With COPA, every single piece of content is designed to be shareable.</p>
							</div>
						</div>
					</div>


					<div class="col-md-6 col-xl-4">
						<div class="media">
							<div class="lead-6 line-height-1 text-danger mr-5"><i class="icon-book"></i></div>
							<div class="media-body">
								<h5>Well documented processes</h5>
								<p> With COPA, we arranged the collection and documentation of all processes. </p>
							</div>
						</div>
					</div>


					<div class="col-md-6 col-xl-4">
						<div class="media">
							<div class="lead-6 line-height-1 text-success mr-5"><i class="icon-thumbs-up"></i></div>
							<div class="media-body">
								<h5>Support</h5>
								<p>When you use COPA platform, you'll constantly receive future updates and 24/7 support.</p>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>


		<!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | CTA
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->

		<!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Features
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
		<section id="section-features" class="section bg-gray">
			<div class="container">
				<header class="section-header">
					<small>Feature</small>
					<h2>More to Discover</h2>
					<hr>
					<p class="lead">COPA is a SaaS platform that enables full tracked management of all the resources of cooperatives.</p>
				</header>


				<div class="row gap-y align-items-center">
					<div class="col-md-6 ml-auto">
						<h4>Membership management.</h4>
						<p> This is the membership management and communication tool that was designed to impacted hundreds 
							of thousands of people from cooperatives socities. Better organize your members, improve your communication, 
							and empower members to connect together, communicate online, and collaborate towards higher goals. 
							COPA's membership management module today can be used by all cooperatives regardless their economic sectors.</p>
					</div>

					<div class="col-md-5 order-md-first">

						<img class="rounded shadow-2"
							src="{{ url_for('static', filename='landing_page_assets/img/preview/membership_management.png') }}"
							alt="...">
					</div>
				</div>


				<hr class="my-8">


				<div class="row gap-y align-items-center">
					<div class="col-md-6 mr-auto">
						<h4>Stock management.</h4>
						<p>
							Stock management feature is suitable for cooperatives (small, medium to large) in retail, wholesale, manufacturing, 
							food production sectors which have requirements to manage stock / inventory levels with members engagement. Module covers the entire business 
							cycle in stock / inventory management. Communication, Payment and other functions are integrated in the module for more than just managing 
							inventories. COPA's Inventory management provides features that give cooperatives and members information they need to manage costs and maximize 
							profitability. </p>
						
						
						</p>
					</div>

					<div class="col-md-5">

						<img class="rounded shadow-2"
							src="{{ url_for('static', filename='landing_page_assets/img/preview/stock_management.png') }}"
							alt="...">
					</div>
				</div>


				<hr class="my-8">


				<div class="row gap-y align-items-center">
					<div class="col-md-6 ml-auto">
						<h4>Reporting</h4>
						<p>

								Comprehensive and Automatic Reporting is a COPA platform's module that provides cooperative behavior analytics, making it easy for cooperatives and their stakeholders 
								of all types to optimize business processes. We equip cooperatives, members and their stakeholders with the resources needed to have a bigger picture of what's going 
								on in the organization, shifting management from reactive to proactive. By capturing unbiased data, COPA gives cooperative and their members the power to understand 
								how work gets done, what affects productivity, and how to streamline processes to create an efficient business.
						
						
						</p>
					</div>

					<div class="col-md-5 order-md-first">

						<img class="rounded shadow-2"
							src="{{ url_for('static', filename='landing_page_assets/img/preview/reporting.png') }}"
							alt="...">
					</div>
				</div>


			</div>
		</section>


		<!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Pricing
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
		<section id="section-pricing" class="section">
			<div class="container">
				<header class="section-header">
					<small>Plans</small>
					<h2>Pricing</h2>
					<hr>
					<p class="lead">Choose any of the following plans to get start with. You can start with the FREE
						plan to see our web application at first. You can always change your plan from your account.</p>
				</header>


				<div class="text-center my-7">
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-round btn-outline-secondary w-150 active">
							<input type="radio" name="pricing" value="monthly" autocomplete="off" checked> Monthly
						</label>
						<label class="btn btn-round btn-outline-secondary w-150">
							<input type="radio" name="pricing" value="yearly" autocomplete="off"> Yearly
						</label>
					</div>
				</div>


				<div class="row gap-y text-center">

					<div class="col-md-4">
						<div class="pricing-1">
							<p class="plan-name">Free</p>
							<br>
							<h2 class="price">0</h2>
							<p class="small">&nbsp;</p>

							<div class="text-muted">
								<small>Access to all users.</small><br>
								<small>Communication with Banks.</small><br>
								<small>No training and Support.</small><br>
							</div>

							<br>
							<p class="text-center py-3">
								<a class="btn btn-primary" href="{{ url_for('auth.register') }}">Get started</a>
							</p>
						</div>
					</div>


					<div class="col-md-4">
						<div class="pricing-1 popular">
							<p class="plan-name">Basic.</p>
							<br>
							<h2 class="price text-success">
								<span class="price-unit">rwf</span>
								<span data-bind-radio="pricing" data-monthly="50,000" data-yearly="520,000">9</span>
								<span class="plan-period" data-bind-radio="pricing" data-monthly="/mo"
									data-yearly="/yr">/mo</span>
							</h2>
							<p class="small">&nbsp;</p>

							<div class="text-muted">
								<small>All in free package.</small><br>
								<small>Data sharing.</small><br>
								<small>Accounting system.</small><br>
								<small>With training and Support.</small><br>
							</div>

							<br>
							<p class="text-center py-3">
								<p class="text-center py-3">
									<a class="btn btn-success" href="{{ url_for('auth.register') }}">Get started</a>
								</p>
							</p>
						</div>
					</div>


					<div class="col-md-4">
						<div class="pricing-1">
							<p class="plan-name">Advanced</p>
							<br>
							<h2 class="price">
								<span class="price-unit">rwf</span>
								<span data-bind-radio="pricing" data-monthly="100,000" data-yearly="1,050,000">39</span>
								<span class="plan-period" data-bind-radio="pricing" data-monthly="/mo"
									data-yearly="/yr">/mo</span>
							</h2>
							<p class="small">&nbsp;</p>

							<div class="text-muted">
									
								<small>Advanced reporting.</small><br>
								<small>Advanced Accounting system.</small><br>
								<small>Training and support.</small><br>
							</div>

							<br>
							<p class="text-center py-3">
								<p class="text-center py-3">
									<a class="btn btn-primary" href="{{ url_for('auth.register') }}">Get started</a>
								</p>
							</p>
						</div>
					</div>

				</div>


			</div>
		</section>





		



		<!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Signup
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
		<section class="section bg-gray text-center">
			<div class="container">

				<header class="section-header">
					<small>Try It Now</small>
					<h2 class="lead-8"><strong>Get Started Free</strong></h2>
					<hr>
					<p class="lead">Sign up for free and become one of the millions of Rwandan people who have fallen in love with COPA.</p>
				</header>


				<div class="row">
					<form class="col-md-4 col-xl-4 mx-auto input-border">
						<div class="form-group">
							<input type="text" class="form-control form-control-lg" placeholder="Name">
						</div>

						<div class="form-group">
							<input type="text" class="form-control form-control-lg" placeholder="Email">
						</div>

						<div class="form-group">
							<input type="password" class="form-control form-control-lg" placeholder="Password">
						</div>

						<button class="btn btn-block btn-xl btn-success"><a href="{{ url_for('auth.register') }}">Sign up</a></button>
					</form>
				</div>

			</div>
		</section>

	</main>


	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			<div class="row gap-y align-items-center">

				<div class="col-md-3 text-center text-md-left">

					<a href="#">
						<img src="https://raw.githubusercontent.com/muhiza/extrat/master/static/logo-light.png" alt="logo"></a>
				</div>

				<div class="col-md-6">
					<div class="nav nav-center">
						<a class="nav-link" href="#">About</a>
						<a class="nav-link" href="#">Blog</a>
						<a class="nav-link" href="#">Policy</a>
						<a class="nav-link" href="#">Contact</a>
					</div>
				</div>

				<div class="col-md-3 text-center text-md-right">
					<small>© 2019. All rights reserved.</small>
				</div>

			</div>
		</div>
	</footer><!-- /.footer -->


	<!-- Scripts -->
	<script src="{{ url_for('static', filename='landing_page_assets/js/page.min.js') }}"></script>
	<script src="{{ url_for('static', filename='landing_page_assets/js/script.js') }}"></script> 

</body>

</html>