


            
            <!--

            <h2 class="my-5 text-center"> {{ member.izina_ribanza }}  </h2> <br>

            <h2 class="my-5 text-center"> {{ member.department_id }}  </h2>  <br>

            <h2 class="my-5 text-center"> {{ member.izina_ribanza }}  </h2>


            <h2 class="my-5 text-center"> {{ member.inyongeramusaruro.NPKkg }}  </h2>

            {% if member.inyongeramusaruro %}
                    {% for inyo in member.inyongeramusaruro %}
                        <h2 class="my-5 text-center"> {{ inyo.NPKkg }}  </h2>
                    
            {% else %}
                    <h2 class="my-5 text-center"> Nonennnn is there  </h2>


                    {% endfor %}
            {% endif %}
            -->
