{% import "bootstrap/utils.html" as utils %}
{% extends "cooperative_admin_members_base.html" %}
{% block title %}Cooperative Details{% endblock %}


{% block content %}

<div class="panel panel-white">
  <div class="panel-heading clearfix">
      <h2 class="panel-heading">Amakuru yerekeye Koperative</h2><br>
  </div>
  <div class="panel-body">
      <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary">
                  <div class="panel-heading" role="tab" id="headingOne1">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion2" href="#1" aria-expanded="true" aria-controls="collapseOne">
                              <b>Imiyoborere ya Koperative</b>
                          </a>
                      </h4>
                  </div>
                  <div id="1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">
                      <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="panel panel-white">
                                                <div class="panel-heading clearfix">
                                                    <h4 class="panel-title">Inama y‘ubuyobozi</h4>
                                                </div>
                                                <div class="panel-body">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>First Name</th>
                                                                <th>Last Name</th>
                                                                <th>Username</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">1</th>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td>@mdo</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">2</th>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>
                                                                <td>@fat</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">3</th>
                                                                <td>Larry</td>
                                                                <td>the Bird</td>
                                                                <td>@twitter</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="panel panel-white">
                                                <div class="panel-heading clearfix">
                                                    <h4 class="panel-title">Inama y‘ubugenzuzi</h4>
                                                </div>
                                                <div class="panel-body">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>First Name</th>
                                                                <th>Last Name</th>
                                                                <th>Username</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">1</th>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td>@mdo</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">2</th>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>
                                                                <td>@fat</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">3</th>
                                                                <td>Larry</td>
                                                                <td>the Bird</td>
                                                                <td>@twitter</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6"><br><br>
                                            <div class="panel panel-white">
                                                <div class="panel-heading clearfix">
                                                    <h4 class="panel-title">Inama rusange</h4>
                                                </div>
                                                <div class="panel-body">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>First Name</th>
                                                                <th>Last Name</th>
                                                                <th>Username</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">1</th>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td>@mdo</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">2</th>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>
                                                                <td>@fat</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">3</th>
                                                                <td>Larry</td>
                                                                <td>the Bird</td>
                                                                <td>@twitter</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-6"><br><br>
                                            <div class="panel panel-white">
                                                <div class="panel-heading clearfix">
                                                    <h4 class="panel-title">Komisiyo y’amasoko.</h4>
                                                </div>
                                                <div class="panel-body">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>First Name</th>
                                                                <th>Last Name</th>
                                                                <th>Username</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">1</th>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td>@mdo</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">2</th>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>
                                                                <td>@fat</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">3</th>
                                                                <td>Larry</td>
                                                                <td>the Bird</td>
                                                                <td>@twitter</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                      </div>
                  </div>
              </div>



              <div class="panel panel-primary">
                  <div class="panel-heading" role="tab" id="headingTwo2">
                      <h4 class="panel-title">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion2x" href="#2" aria-expanded="false" aria-controls="collapseTwo">
                              <b>Abanyamuryango ba Koperative</b>
                          </a>
                      </h4>
                  </div>
                  <div id="2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                      <div class="panel-body">


                        <div class="row">



                                        <div class="col-md-6"><br><br>
                                            <div class="panel panel-white">
                                                <div class="panel-heading clearfix">
                                                    <h4 class="panel-title">Cooperative</h4>
                                                </div>
                                                <div class="panel-body">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Izina rya Koperative</th>
                                                                <th>&nbsp;&nbsp;</th>
                                                                <th>&nbsp;&nbsp;</th>
                                                                <th>Umugabane wa</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">Icyicaro cyayo</th>
                                                                <td>&nbsp;&nbsp;</td>
                                                                <td>&nbsp;&nbsp;</td>
                                                                <td>@mdo</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Imari shingiro</th>
                                                                <td>&nbsp;&nbsp;</td>
                                                                <td>&nbsp;&nbsp;</td>
                                                                <td>@fat</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Umugabane wa buri<br> munyamuryango</th>
                                                                <td>&nbsp;&nbsp;</td>
                                                                <td>&nbsp;&nbsp;</td>
                                                                <td>@twitter</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-6"><br><br>
                                            <div class="panel panel-white">
                                                <div class="panel-heading clearfix">
                                                    <h4 class="panel-title">Abanyamuryango</h4>
                                                </div>
                                                <div class="panel-body">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Abanyamuryango b'abagabo</th>
                                                                <th>&nbsp;&nbsp;</th>
                                                                <th>&nbsp;&nbsp;</th>
                                                                <th>345</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">Abanyamuryango b'abagore</th>
                                                                <td>&nbsp;&nbsp;</td>
                                                                <td>&nbsp;&nbsp;</td>
                                                                <td>321</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Urubyiruko</th>
                                                                <td>&nbsp;&nbsp;</td>
                                                                <td>&nbsp;&nbsp;</td>
                                                                <td>12</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Abanyamuryango bose</th>
                                                                <td>&nbsp;&nbsp;</td>
                                                                <td>&nbsp;&nbsp;</td>
                                                                <td>678</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        </div>


                      </div>
                  </div>
              </div>



              <div class="panel panel-primary">
                  <div class="panel-heading" role="tab" id="headingThree3">
                      <h4 class="panel-title">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion2x" href="#3" aria-expanded="false" aria-controls="collapseThree">
                              <b>Imari shingiro, Imitungo & Icyiciro cy'ubukungu (Capitals, assets & financial class) </b>
                          </a>
                      </h4>
                  </div>
                  <div id="3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree3">
                      <div class="panel-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                  </div>
              </div>



            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2x" href="#4" aria-expanded="false" aria-controls="collapseFour">
                            <b>Ibikorwa bya Koperative</b>
                        </a>
                    </h4>
                </div>
                <div id="4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour4">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>




            <div class="panel panel-primary">
              <div class="panel-heading" role="tab" id="headingFive5">
                  <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion2x" href="#5" aria-expanded="false" aria-controls="collapseFive">
                          <b>Gucunga inguzanyo</b>
                      </a>
                  </h4>
              </div>
              <div id="5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive5">
                  <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
              </div>
          </div>


          <div class="panel panel-primary">
              <div class="panel-heading" role="tab" id="headingSix6">
                  <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion2x" href="#6" aria-expanded="false" aria-controls="collapseSix">
                          <b>Inyungu cg Igihombo</b>
                      </a>
                  </h4>
              </div>
              <div id="6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix6">
                  <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
              </div>
          </div>




          <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingSeven7">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion2x" href="#7" aria-expanded="false" aria-controls="headingSeven">
                        <b>Icyiciro cya Koperative (Categorization of the cooperative)</b>
                    </a>
                </h4>
            </div>
            <div id="7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven7">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
      </div>
  </div>
</div>








{% endblock %}