{% import "bootstrap/utils.html" as utils %}
{% extends "members_base.html" %}

    {% block body %}
    <div class="container">
    <br><br>
    <div class="row">
    <div class="col-lg-3 col-md-6">
        <a href="{{ url_for('aicos_members.aicos_members_home') }}">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-id-badge text-success border-success"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-heading">Abanyamuryango</div>
                        <div class="stat-text">Total: {% if employees_count %} {{ employees_count }} {% else %} 0 {% endif %}</div>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-6">
        <a href="{{ url_for('aicos_stock_managment.dashboard') }}">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-shopping-cart-full text-primary border-primary"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-heading">Stock</div>
                        <div class="stat-text">Total: {% if umusaruro_kg %} {{ umusaruro_kg }} {% else %} 0  {% endif %} kg</div>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-6">
    <a href="#">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-money text-warning border-warning"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-heading">Ibyakoreshejwe</div>
                        <div class="stat-text">Total: {% if npk_kg or urea_kg or dap_kg or kcl_kg or briquette_kg %} {{ npk_kg + urea_kg + dap_kg + kcl_kg + briquette_kg }} {% else %} 0  {% endif %} kg</div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>
    <div class="col-lg-3 col-md-6">
        <a href="{{ url_for('aicos_req.inguzanyo_abandi') }}">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-link text-danger border-danger"></i></div>
                        <div class="stat-content dib">
                            <div class="stat-heading">Inguzanyo</div>
                            <div class="stat-text">Total: {% if inguzanyo %} {{ inguzanyo }} {% else %} 0  {% endif %} </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
	</div>

    <div class="row">
    <div class="col-lg-3 col-md-6">
        <a href="{{ url_for('aicos_stock_managment.ibihano') }}">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-four">
                        <div class="stat-icon dib">
                            <i class="ti-server text-info"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-heading">Ibihano</div>
                                <div class="stat-text">Total: {% if amandec or amandeApi %} {{ amandec + amandeApi }} {% else %} 0 {% endif %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-6">
    <a href="#">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib">
                        <i class="ti-email text-warning"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Ubutumwa</div>
                            <div class="stat-text">Total: 220</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>

    <div class="col-lg-3 col-md-6">
    <a href="#">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib">
                        <i class="ti-stats-up text-danger"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Stock</div>
                            <div class="stat-text">Total: 5,814</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>

    <div class="col-lg-3 col-md-6">
    <a href="#">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib">
                        <i class="ti-files text-success"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Raporo</div>
                            <div class="stat-text">Total: 44</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>
	</div>

    <div class="row">
    <div class="col-lg-3 col-md-6">
    <a href="{{ url_for('aicos_members.zone') }}">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib">
                        <i class="ti-direction-alt text-secondary"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Zones</div>
                            <div class="stat-text">Total: 76</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>

    <div class="col-lg-3 col-md-6">
    <a href="{{ url_for('aicos_req.amatsinda') }}">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib">
                        <i class="ti-layout-list-thumb-alt text-primary"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Amatsinda</div>
                            <div class="stat-text">Total: 120</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>

    <div class="col-lg-3 col-md-6">
    <a href="#">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib">
                        <i class="ti-wallet text-muted"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Ubwizigame</div>
                            <div class="stat-text">Total: 58,714</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>

    <div class="col-lg-3 col-md-6">
    <a href="{{ url_for('aicos_req.accountingBooks') }}">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib">
                        <i class="ti-pulse text-muted"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Accounting Books</div>
                            <div class="stat-text">Total: 462</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>
	</div>

	<div class="row">
    <div class="col-lg-3 col-md-6">
    <a href="{{ url_for('aicos_req.governanceBooks') }}">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib">
                        <i class="ti-folder text-info border-danger"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Governance Books</div>
                            <div class="stat-text">Total: 765</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-6">
    <a href="{{ url_for('aicos_req.legalBooks') }}">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib">
                        <i class="ti-book text-muted"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Legal Books</div>
                            <div class="stat-text">Total: 320</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>

    <div class="col-lg-3 col-md-6">
    <a href="{{ url_for('aicos_req.planningBooks') }}">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib">
                        <i class="ti-arrow-up text-muted"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Planning Books</div>
                            <div class="stat-text">Total: 714</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>  

    <div class="col-lg-3 col-md-6">
    <a href="{{ url_for('aicos_req.specialReports') }}">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-four">
                    <div class="stat-icon dib">
                        <i class="ti-notepad text-muted"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Special Reports</div>
                            <div class="stat-text">Total: 411</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>
	</div>
    <br><br>



    </div>
    </div>

    <!-- Right Panel -->
    {% endblock %}