{% import "bootstrap/utils.html" as utils %}
{% extends "stock_base.html" %}
{% block title %}Stock{% endblock %}
{% block body %}
  <div class="container-fluid">
    <div class="row">
      {{ utils.flashed_messages() }}
    </div>
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-body">
                      <h4 class="mb-3">Inyongera musaruro yakoreshejwe mu myaka </h4>
                      <canvas id="team-chart"></canvas>
                  </div>
              </div>
          </div><!-- /# column -->

          <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="h3 card-title">Inyongeramusaruro</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered" style="width: 100%;">
                                    <thead>
                                        <tr class="bg-info" style="color: #fff;">
                                            <th>Amazina</th>
                                            <th>UREA</th>
                                            <th>NPK</th>
                                            <th>DAP</th>
                                            <th>KCL</th>
                                            <th>Briquette</th>
                                            <th>Injiza</th>
                                            <th>Ibindi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if employees %}
                                            {% for member in employees %}
                                                <tr>
                                                  <td>{{ member.izina_ribanza }}&nbsp;{{ member.izina_rikurikira }}</td>
                                                  <td>
                                                    {% if member.inyongeramusaruro %}
                                                        {% for inyongeramusaruro in member.inyongeramusaruro %}
                                                            {% if inyongeramusaruro.member_id == member.id %}
                                                                {% if loop.last %}
                                                                    {{ inyongeramusaruro.UREA * inyongeramusaruro.UREAPerUnity }}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                  </td>
                                                  <td>
                                                    {% if member.inyongeramusaruro %}
                                                        {% for inyongeramusaruro in member.inyongeramusaruro %}
                                                            {% if inyongeramusaruro.member_id == member.id %}
                                                                {% if loop.last %}
                                                                    {{ inyongeramusaruro.NPKkg * inyongeramusaruro.NPKPerUnity }}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                  </td>
                                                  <td>
                                                    {% if member.inyongeramusaruro %}
                                                        {% for inyongeramusaruro in member.inyongeramusaruro %}
                                                            {% if inyongeramusaruro.member_id == member.id %}
                                                                {% if loop.last %}
                                                                    {{ inyongeramusaruro.DAP * inyongeramusaruro.DAPPerUnity }}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                  </td>
                                                  <td>
                                                    {% if member.inyongeramusaruro %}
                                                        {% for inyongeramusaruro in member.inyongeramusaruro %}
                                                            {% if inyongeramusaruro.member_id == member.id %}
                                                                {% if loop.last %}
                                                                    {{ inyongeramusaruro.KCL * inyongeramusaruro.KCLPerUnity }}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                  </td>
                                                  <td>
                                                    {% if member.inyongeramusaruro %}
                                                        {% for inyongeramusaruro in member.inyongeramusaruro %}
                                                            {% if inyongeramusaruro.member_id == member.id %}
                                                                {% if loop.last %}
                                                                    {{ inyongeramusaruro.Briquette * inyongeramusaruro.BriquettePerUnity }}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                  </td>
                                                  <td>
                                                    <a href="{{ url_for('aicos_stock_managment.injizaInyongeramusaruro', id=member.id) }}">
                                                      <span class="badge badge-success" style="font-size: 14px;"><li class="fa fa-plus"></li> Injiza</span>
                                                    </a>
                                                  </td>
                                                  <td>
                                                    <a href="#">
                                                      <span class="badge badge-info" style="font-size: 14px;"><li class="fa fa-eye"></li> Ibindi</span>
                                                    </a>
                                                  </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



                </div>
            </div><!-- .animated -->
        </div><!-- .content -->
    </div>
 {% endblock %}