{% extends "stock_base.html" %}
{% block content %}
<div class="container">
	<div class="row" style="margin-top: 20px;">
		{% if umusaruro %}



        </div>
        </div>

                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <aside class="profile-nav alt">
                            <section class="card">
                                <div class="card-header user-header alt bg-success">
                                    <div class="media">
                                        <a href="#">
                                            <img src="{{ url_for('static', filename='images/admin.jpg') }}">&nbsp;&nbsp;&nbsp;
                                        </a>
                                        <div class="media-body">
                                            <h2 class="text-light display-6">{{ memberId.izina_ribanza }} {{ memberId.izina_rikurikira }}</h2>
                                            <p class="text-light display-6">{{ memberId.Akarere }}, {{ memberId.Umurenge }}</p>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-bank"></i> Izina rya Bank 
                                            <span class="badge badge-default pull-right">SACCO - GISAKURA</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-list"></i> Nimero ya Konti 
                                        <span class="badge badge-default pull-right">119-9600-800</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-tasks"></i> Nimero ya telephone 
                                        <span class="badge badge-default pull-right">(+250) 786 012 383</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-circle"></i> Nimero y'Indangamuntu 
                                        <span class="badge badge-default pull-right">1198250786 012 383</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-file"></i> Amafaranga 
                                            <span class="badge badge-default pull-right">{{ umusaruro_all }} kg = {{ amafaranga_all }} Frw</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-user-o"></i> Uwohereje  
                                            <span class="badge badge-default pull-right r-activity">COOPTHEVIGI</span></a>
                                        <br><hr>
                                    </li>
                                </ul>

                                <button type="button" class="btn btn-outline-secondary btn-lg active"><b>
                                <span class="ti-share"></span>&nbsp;Ohereza kuri Bank</b></button>

                            </section>
                        </aside>
                        <br><br><br><br>
                    </div>
                    <div class="col-md-3">
                    </div>
                {% else %}
		    {% endif %}
	</div>
</div>












































            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>




{% endblock %}




To do tasks.

Work on reporting and documenting the app.
Call corimak manager to arange the training and the meeting.
Call coopthevigi manager.
finish documenting the app and share it to get feedback.
Start research to manipulate the app for TEA people

