{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as utils %}
{% extends "stock_base.html" %}
{% block title %}Stock{% endblock %}
{% block content %}
 	<div class="container-fluid">
    {{ utils.flashed_messages(dismissible=True) }}

    		<div class="row">
            <div class="col-lg-8">
	       <div class="card">
	                <div class="card-header">
	                   <h3>Andika Umusaruro wa <strong> {{member_name.izina_ribanza}}&nbsp;{{member_name.izina_rikurikira}} </strong> </h3><br>
	                </div>
	                <div class="card-body card-block">
	                <form action="{{ url_for('aicos_stock_managment.injizaUmusaruro', id=memberid.id)}}" method="post">
	                	<div class="input-form">
	                    	{{ wtf.form_field(form.RiceType) }}
	                    </div>
	                   	<div class="input-form">
	                    	{{ wtf.form_field(form.UmusaruroGrade) }}
	                    </div>
	                    <div class="input-form">
	                    	{{ wtf.form_field(form.Quantity) }}
	                    </div>
	                    <div class="input-form">
	                    	{{ wtf.form_field(form.RiceAmount) }}
	                    </div>
	                    <div class="input-form">
	                    	{{ wtf.form_field(form.UwoAsigaranye) }}
	                    </div>
	                    <div class="input-form">
	                    	{{ wtf.form_field(form.Gutonoza) }}
	                    </div>
	                    <div class="input-form">
	                    	{{ form.submit(class="btn btn-primary") }}
	                    </div>
	                    {{ form.csrf_token }}
	                </form>
				    <br><br><br>
			        </div>
			        </div>
			        </div>
			    </div>
{% endblock %}