{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as utils %}
{% extends "stock_base.html" %}
{% block title %}Stock{% endblock %}
{% block body %}
 	<div class="container-fluid">
    {{ utils.flashed_messages() }}
    	<div class="col-md-8">
    		<div class="tab-content">
    			<div class="row" style="background-color: #f2f2f2; margin: 0px;">
		            <div class="col-md-12" style="margin-top: 25px; margin-left: 10px; margin-bottom: 15px;">
		                <h3 style="text-align: center;">Andika Ibirarane bya <strong style="font-style: bold;">{% if member_name %} {{   '"' + member_name.izina_ribanza }} {% endif %}</strong></h3>
		            </div>
		        </div>
                <div class="tab-pane active" id="home4" role="tabpanel" aria-expanded="false" style="padding-bottom: 15px;">
	                <form action="" method="post">
	                    <div class="">
	                    	{{ wtf.form_field(form.NPKkg) }}
	                    </div>
	                    <div class="">
	                    	{{ wtf.form_field(form.NPKPerUnity) }}
	                    </div>
	                    <div class="">
	                    	{{ wtf.form_field(form.UREA) }}
	                    </div>
	                    <div class="">
	                    	{{ wtf.form_field(form.UREAPerUnity) }}
	                    </div>
	                    <div class="">
	                    	{{ wtf.form_field(form.DAP) }}
	                    </div>
	                    <div class="">
	                    	{{ wtf.form_field(form.DAPPerUnity) }}
	                    </div>
	                    <div class="">
	                    	{{ wtf.form_field(form.KCL) }}
	                    </div>
	                    <div class="">
	                    	{{ wtf.form_field(form.KCLPerUnity) }}
	                    </div>
	                    <div class="">
	                    	{{ wtf.form_field(form.Briquette) }}
	                    </div>
	                    <div class="">
	                    	{{ wtf.form_field(form.BriquettePerUnity) }}
	                    </div>
	                    <div class="">
	                    	{{ wtf.form_field(form.ImbutoQuantity) }}
	                    </div>
	                    <div class="">
	                    	{{ wtf.form_field(form.ImbutoAmount) }}
	                    </div>
	                    <div class="">
	                    	{{ wtf.form_field(form.IdeniAmount) }}
	                    </div>
	                    <div class="">
	                    	{{ form.submit(class="btn btn-primary") }}
	                    </div>
	                    {{ form.csrf_token }}
	                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}