{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as utils %}
{% extends "stock_base.html" %}
{% block title %}Stock{% endblock %}
{% block content %}
<div class="container">
	{{ utils.flashed_messages(dismissible=True) }}
	<div class="row"><br><br>
		<div class="col-lg-6">
			<div class="card">
				<div class="card-header">
					<h3>Andika Umusaruro wa: <strong>
							{{member_name.izina_ribanza}}&nbsp;{{member_name.izina_rikurikira}} </strong> </h3><br>
				</div>
				<div class="card-body card-block">
					<form action="{{ url_for('aicos_stock_managment.injizaUmusaruro', id=memberid.id)}}" method="post">
						<div class="input-form">
							{{ wtf.form_field(form.RiceType) }}
						</div>
						<div class="input-form">
							{{ wtf.form_field(form.UmusaruroGrade) }}
						</div>
						<div class="input-form">
							{{ wtf.form_field(form.Quantity) }}
						</div>
						<div class="input-form">
							{{ wtf.form_field(form.RiceAmount) }}
						</div>
						<div class="input-form">
							{{ wtf.form_field(form.UwoAsigaranye) }}
						</div>
						<div class="input-form">
							{{ wtf.form_field(form.Gutonoza) }}
						</div>
						<div class="input-form">
							{{ form.submit(class="btn btn-primary") }}
						</div>
						{{ form.csrf_token }}
					</form>
					<br><br><br>
				</div>
			</div>
		</div>


		<div class="col-lg-6">
			<div class="panel panel-white">
				<div class="panel-heading clearfix">
					<h3><b>Retenue z'ukwezi,</b> January.</h3>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled">
							<ol>
								<li><b>RPF</b> = 100</li>
								<li><b>Ejo heza</b> = 1500 Frw</li>

								<li><b>MUSA</b> = 10000 Frw</li>
								<li><b>Carnet</b> = 500 Frw</li>

								<li><b>Avance</b> = 5000 Frw</li>
								<li><b>Inguzanyo</b> = 0 Frw</li>
								<button type="button" class="btn btn-success">Hindura</button>							
							</ol><br>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}