{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as utils %}
{% extends "stock_base.html" %}
{% block content %}
 	<div class="container-fluid">
    {{ utils.flashed_messages(dismissible=True) }}

    		<div class="row">
            <div class="col-lg-8">
	       <div class="card">
	                <div class="card-header">
	                   <h3>Andika Ibihano bya <strong> {% if member_name %} {{   member_name.izina_ribanza  }} {% endif %}  </strong> </h3><br>
	                </div>
	                <div class="card-body card-block">
	                <form action="" method="post">
	                    <div class="">
	                    	{{ wtf.form_field(form.AmandeC) }}
	                    </div>
	                    <div class="">
	                    	{{ wtf.form_field(form.AmandeApII) }}
	                    </div>
	                    <div class="">
	                    	{{ wtf.form_field(form.Comment) }}
	                    </div>
	                    <div class="">
	                    	{{ form.submit(class="btn btn-primary") }}
	                    </div>
	                    {{ form.csrf_token }}
	                </form>
				    <br><br><br>
			        </div>
			        </div>
			        </div>
			    </div>
{% endblock %}