{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as utils %}
{% extends "stock_base.html" %}
{% block title %}Stock{% endblock %}
{% block body %}
 	<div class="container-fluid">
    {{ utils.flashed_messages(dismissible=True) }}

    		<div class="row">
            <div class="col-lg-8">
	       <div class="card">
	                <div class="card-header">
	                   <h3>Andika Umusanzu wa <strong> {% if member_name %} {{   member_name.izina_ribanza  }} {% endif %}  </strong> </h3><br>
	                </div>
	                <div class="card-body card-block">
	                <form action="{{ url_for('aicos_stock_managment.injizaImisanzu', id=memberid.id ) }}" method="post">
	                    <div class="">
	                    	{{ wtf.form_field(form.UmusanzuCoop) }}
	                    </div>
	                    <div class="">
	                    	{{ wtf.form_field(form.UmusoroWakarere) }}
	                    </div>
	                    <div class="">
	                    	{{ wtf.form_field(form.Umugabane) }}
	                    </div>
	                    <div class="">
	                    	{{ wtf.form_field(form.Ikigega) }}
	                    </div>
	                    <div class="">
	                    	{{ wtf.form_field(form.KuzibaIcyuho) }}
	                    </div>
	                    <div class="">
	                    	{{ form.submit(class="btn btn-primary") }}
	                    </div>
	                    {{ form.csrf_token }}
	                </form>
				    <br><br><br>
			        </div>
			        </div>
			        </div>
			    </div>
{% endblock %}




