{% import "bootstrap/utils.html" as utils %}
{% extends "stock_base.html" %}
{% block body %}
<div class="container">

  <div class="row">
    <!--/.col-->
    <div class="col-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="clearfix"> 
                    <i class="fa fa-bar-chart-o bg-flat-color-5 p-3 font-2xl mr-3 float-left text-light"></i>
                    <div class="h5 text-secondary mb-0 mt-1">UMUSARURO</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs small">Total: 765</div>
                </div>
                <div class="b-b-1 pt-3"></div>
                <hr>
                <div class="more-info pt-2" style="margin-bottom:-10px;">
                    <a class="font-weight-bold font-xs btn-block text-muted small" href="{{ url_for('aicos_stock_managment.umusaruro') }}">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <i class="fa fa-plus-square-o bg-info p-3 font-2xl mr-3 float-left text-light"></i>
                    <div class="h5 text-secondary mb-0 mt-1">INYONGERA MUSARURO</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs small">&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp; Total: 24720</div>
                </div>
                <hr>
                <div class="more-info pt-2" style="margin-bottom:-10px;">
                    <a class="font-weight-bold font-xs btn-block text-muted small" href="{{ url_for('aicos_stock_managment.inyongeramusaruro') }}">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <i class="fa fa-minus-square-o bg-warning p-3 font-2xl mr-3 float-left text-light"></i>
                    <div class="h6 text-secondary mb-0 mt-1">
                    IMISANZU</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs small">Total: 24720</div>
                </div>
                <div class="b-b-1 pt-3"></div>
                <hr>
                <div class="more-info pt-2" style="margin-bottom:-10px;">
                    <a class="font-weight-bold font-xs btn-block text-muted small" href="{{ url_for('aicos_stock_managment.imisanzu') }}">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <i class="fa fa-money bg-danger p-3 font-2xl mr-3 float-left text-light"></i>
                    <div class="h5 text-secondary mb-0 mt-1">
                      KONTI / BANK
                    </div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs small">Total: 24720</div>
                </div>
                <div class="b-b-1 pt-3"></div>
                <hr>
                <div class="more-info pt-2" style="margin-bottom:-10px;">
                    <a href="{{ url_for('aicos_stock_managment.konteZaBanki') }}" class="font-weight-bold font-xs btn-block text-muted small" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    </div>






























   <div class="container">

              <!-- <table id="totalexample" class="display" cellspacing="0" width="100%"> -->
          





          <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title"><h3>Raporo y'isarura ryose</h3></strong>
                            </div>
                            <div class="card-body">
                            <div class="table-responsive">
                                <table id="bootstrap-data-table-export" class="table table-striped">




                    <thead>
                        <tr>
                            <th>Amazina</th>
                            <th>Umusaruro</th>
                            <th>Inyongeramusaruro</th>
                            <th>Imisanzu</th>
                            <th>Ibirarane</th>
                            <th>Ibihano</th>
                            <th>Ibindi</th>
                            <th>Amafarangwa&nbsp;Yose</th>
                        </tr>
                    </thead>
                    
                    <tfoot>
                        <tr>
                            <th>Amazina</th>
                            <th>Umusaruro</th>
                            <th>Inyongeramusaruro</th>
                            <th>Imisanzu</th>
                            <th>Ibirarane</th>
                            <th>Ibihano</th>
                            <th>Ibindi</th>
                            <th>Amafarangwa&nbsp;Yose</th>
                        </tr>
                    </tfoot>
                    <tbody>
                       {% if memberss %}
                          {% for member in memberss %}
                              <tr>
                                <td>{{ member.izina_ribanza }}&nbsp;{{ member.izina_rikurikira }}</td>
                                <td> 
                                  {% if member.umusarurob %}
                                      {% for umu in member.umusarurob %}
                                          {% if loop.last %}
                                              {{ umu.AmafarangaUmusaruro1 }}
                                          {% endif %}
                                      {% endfor %}
                                  {% endif %}
                                </td>
                                <td>
                                  {% if member.inyongeramusaruro %}
                                      {% for inyongera in member.inyongeramusaruro %}
                                          {% if loop.last %}
                                              {{ (inyongera.NPKkg * inyongera.NPKPerUnity) + (inyongera.DAP * inyongera.DAPPerUnity) + (inyongera.UREA * inyongera.UREAPerUnity) + (inyongera.KCL * inyongera.KCLPerUnity) + (inyongera.Briquette * inyongera.BriquettePerUnity) + (inyongera.Cypemetrine) + (inyongera.Beam) + (inyongera.ImbutoQuantity * inyongera.ImbutoAmount) + (inyongera.Redevance) }}
                                          {% endif %}
                                      {% endfor %}
                                  {% endif %}
                                </td>
                                <td>
                                  {% if member.imisanzu %}
                                      {% for imi in member.imisanzu %}
                                          {% if loop.last %}
                                              {{ (imi.UmusoroWakarere + imi.UmusanzuCoop + imi.Umugabane + imi.Ikigega + imi.KuzibaIcyuho) }}
                                          {% endif%}
                                      {% endfor %}
                                  {% endif %}
                                </td>
                                <td>
                                  {% if member.ibirarane %}
                                      {% for ibi in member.ibirarane %}
                                          {% if loop.last %}
                                              {{ (ibi.NPKkg * ibi.NPKPerUnity) + (ibi.DAP * ibi.DAPPerUnity) + (ibi.UREA * ibi.UREAPerUnity) + (ibi.KCL * ibi.KCLPerUnity) + (ibi.ImbutoQuantity * ibi.ImbutoAmount) + (ibi.IdeniAmount) + (ibi.Briquette * ibi.BriquettePerUnity) }}
                                          {% endif %}
                                      {% endfor %}
                                  {% endif%}
                                </td>
                                <td>
                                  {% if member.ibihano %}
                                      {% for ibi in member.ibihano %}
                                          {% if loop.last %}
                                              {{ ibi.AmandeC + ibi.AmandeApII }}
                                          {% endif %}
                                      {% endfor %}
                                  {% endif %}
                                </td>
                                <td>
                                  {% if member.ibindi %}
                                      {% for ibi in member.ibindi %}
                                          {% if loop.last %}
                                              {{ ibi.ImifukaAmount + ibi.MituelleAmount + ibi.UmuceriAmountGrade + ibi.Avence }}
                                          {% endif %}
                                      {% endfor %}
                                  {% endif %}
                                </td>
                                <td>
                                  {% if member.umusarurob and member.inyongeramusaruro and member.imisanzu and member.ibirarane and member.ibihano and member.ibindi %}
                                      {% for umu in member.umusarurob %}
                                          {% if loop.last %}
                                              {% for inyongera in member.inyongeramusaruro %}
                                                {% if loop.last %}
                                                    {% for imi in member.imisanzu %}
                                                        {% if loop.last %}
                                                            {% for ibir in member.ibirarane %}
                                                              {% if loop.last %}
                                                                  {% for ibih in member.ibihano %}
                                                                    {% if loop.last %}
                                                                        {% for ibin in member.ibindi %}
                                                                            {% if loop.last %}
                                                                                {{ umu.AmafarangaUmusaruro1 - ((inyongera.NPKkg * inyongera.NPKPerUnity) + (inyongera.DAP * inyongera.DAPPerUnity) + (inyongera.UREA * inyongera.UREAPerUnity) + (inyongera.KCL * inyongera.KCLPerUnity) + (inyongera.Briquette * inyongera.BriquettePerUnity) + (inyongera.Cypemetrine) + (inyongera.Beam) + (inyongera.ImbutoQuantity * inyongera.ImbutoAmount) + (inyongera.Redevance) + (imi.UmusoroWakarere + imi.UmusanzuCoop + imi.Umugabane + imi.Ikigega + imi.KuzibaIcyuho) + (ibir.NPKkg * ibir.NPKPerUnity) + (ibir.DAP * ibir.DAPPerUnity) + (ibir.UREA * ibir.UREAPerUnity) + (ibir.KCL * ibir.KCLPerUnity) + (ibir.ImbutoQuantity * ibir.ImbutoAmount) + (ibir.IdeniAmount)+ (ibir.Briquette * ibir.BriquettePerUnity) + (ibih.AmandeC + ibih.AmandeApII) + (ibin.ImifukaAmount + ibin.MituelleAmount + ibin.UmuceriAmountGrade + ibin.Avence)) }}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                              {% endif %}
                                                          {% endfor %}
                                                        {% endif%}
                                                    {% endfor %}
                                                {% endif %}
                                          {% endfor %}
                                          {% endif %}
                                      {% endfor %}
                                  {% else %}
                                      0
                                  {% endif %}
                                </td>
                              </tr>
                          {% endfor %}
                       {% endif %}
                    </tbody>
                </table>
                </div>
                <div id="charts"></div>
                <br><br>
            </div>
        </div>
      </div>
   </div> 

           </div>
      </div>
   </div> 

           </div>
      </div>
   </div> 
   </div>
{% endblock %}



