{% import "bootstrap/utils.html" as utils %}
{% extends "stock_base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <a href="{{ url_for('aicos_stock_managment.umusaruro') }}">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">{% if employees_count %} {{ employees_count }}
                                {% else %} 0 {% endif %}</span>
                            <p class="stats-info">UMUSARURO</p>
                        </div>
                        <div class="pull-right">
                            <i class="fa fa-address-book text-info" style="font-size: 5rem;"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="{{ url_for('aicos_stock_managment.inyongeramusaruro') }}">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">100</span>
                            <p class="stats-info">IFUMBIRE</p>
                        </div>
                        <div class="pull-right">

                            <i class="fa fa-users text-success" aria-hidden="true" style="font-size: 5rem;"></i>

                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="{{ url_for('aicos_stock_managment.imisanzu') }}">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">356</span>
                            <p class="stats-info">IMISANZU</p>
                        </div>
                        <div class="pull-right">
                            <i class="fa fa-list-alt text-primary" aria-hidden="true" style="font-size: 5rem;"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="{{ url_for('aicos_stock_managment.konteZaBanki') }}">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">5801 kg</span>
                            <p class="stats-info">KONTI / BANK.</p>
                        </div>
                        <div class="pull-right">
                            <i class="fa fa-line-chart text-danger" aria-hidden="true" style="font-size: 5rem;"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>








    <div class="container">
        <!-- <table id="totalexample" class="display" cellspacing="0" width="100%"> -->
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">
                                    <h3>Raporo y'isarura ryose</h3>
                                </strong>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="stock_home" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Amazina</th>
                                                <th>Umusaruro</th>
                                                <th>Inyongeramusaruro</th>
                                                <th>Imisanzu</th>
                                                <th>Ibirarane</th>
                                                <th>Ibihano</th>
                                                <th>Ibindi</th>
                                                <th class="bg-info" style="color: #fff;">Amafarangwa&nbsp;Yose</th>
                                            </tr>
                                        </thead>

                                        <tfoot>
                                            <tr>
                                                <th>Amazina</th>
                                                <th>Umusaruro</th>
                                                <th>Inyongeramusaruro</th>
                                                <th>Imisanzu</th>
                                                <th>Ibirarane</th>
                                                <th>Ibihano</th>
                                                <th>Ibindi</th>
                                                <th class="bg-info" style="color: #fff;">Amafarangwa&nbsp;Yose</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {% if memberss %}
                                            {% for member in memberss %}
                                            <tr>
                                                <td>{{ member.izina_ribanza }}&nbsp;{{ member.izina_rikurikira }}</td>
                                                <td>
                                                    {% if member.umusarurob %}
                                                    {% for umu in member.umusarurob %}
                                                    {% if loop.last %}
                                                    {{ umu.AmafarangaUmusaruro1 }}
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if member.inyongeramusaruro %}
                                                    {% for inyongera in member.inyongeramusaruro %}
                                                    {% if loop.last %}
                                                    {{ (inyongera.NPKkg * inyongera.NPKPerUnity) + (inyongera.DAP * inyongera.DAPPerUnity) + (inyongera.UREA * inyongera.UREAPerUnity) + (inyongera.KCL * inyongera.KCLPerUnity) + (inyongera.Briquette * inyongera.BriquettePerUnity) + (inyongera.Cypemetrine) + (inyongera.Beam) + (inyongera.ImbutoQuantity * inyongera.ImbutoAmount) + (inyongera.Redevance) }}
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if member.imisanzu %}
                                                    {% for imi in member.imisanzu %}
                                                    {% if loop.last %}
                                                    {{ (imi.UmusoroWakarere + imi.UmusanzuCoop + imi.Umugabane + imi.Ikigega + imi.KuzibaIcyuho) }}
                                                    {% endif%}
                                                    {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if member.ibirarane %}
                                                    {% for ibi in member.ibirarane %}
                                                    {% if loop.last %}
                                                    {{ (ibi.NPKkg * ibi.NPKPerUnity) + (ibi.DAP * ibi.DAPPerUnity) + (ibi.UREA * ibi.UREAPerUnity) + (ibi.KCL * ibi.KCLPerUnity) + (ibi.ImbutoQuantity * ibi.ImbutoAmount) + (ibi.IdeniAmount) + (ibi.Briquette * ibi.BriquettePerUnity) }}
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endif%}
                                                </td>
                                                <td>
                                                    {% if member.ibihano %}
                                                    {% for ibi in member.ibihano %}
                                                    {% if loop.last %}
                                                    {{ ibi.AmandeApII }}
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if member.ibindi %}
                                                    {% for ibi in member.ibindi %}
                                                    {% if loop.last %}
                                                    {{ ibi.ImifukaAmount + ibi.MituelleAmount + ibi.UmuceriAmountGrade + ibi.Avence }}
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td class="bg-success" style="color: #fff;"><b>
                                                        {% if member.umusarurob and member.inyongeramusaruro and member.imisanzu and member.ibirarane and member.ibihano and member.ibindi %}
                                                        {% for umu in member.umusarurob %}
                                                        {% if loop.last %}
                                                        {% for inyongera in member.inyongeramusaruro %}
                                                        {% if loop.last %}
                                                        {% for imi in member.imisanzu %}
                                                        {% if loop.last %}
                                                        {% for ibir in member.ibirarane %}
                                                        {% if loop.last %}
                                                        {% for ibih in member.ibihano %}
                                                        {% if loop.last %}
                                                        {% for ibin in member.ibindi %}
                                                        {% if loop.last %}



                                                        {{ umu.AmafarangaUmusaruro1 - ((inyongera.NPKkg * inyongera.NPKPerUnity) + (inyongera.DAP * inyongera.DAPPerUnity) + (inyongera.UREA * inyongera.UREAPerUnity) + (inyongera.KCL * inyongera.KCLPerUnity) + (inyongera.Briquette * inyongera.BriquettePerUnity) + (inyongera.Cypemetrine) + (inyongera.Beam) + (inyongera.ImbutoQuantity * inyongera.ImbutoAmount) + (inyongera.Redevance) + (imi.UmusoroWakarere + imi.UmusanzuCoop + imi.Umugabane + imi.Ikigega + imi.KuzibaIcyuho) + (ibir.NPKkg * ibir.NPKPerUnity) + (ibir.DAP * ibir.DAPPerUnity) + (ibir.UREA * ibir.UREAPerUnity) + (ibir.KCL * ibir.KCLPerUnity) + (ibir.ImbutoQuantity * ibir.ImbutoAmount) + (ibir.IdeniAmount)+ (ibir.Briquette * ibir.BriquettePerUnity) + (ibih.AmandeApII) + (ibin.ImifukaAmount + ibin.MituelleAmount + ibin.UmuceriAmountGrade + ibin.Avence)) }}




                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endif%}
                                                        {% endfor %}
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% else %}
                                                        0
                                                        {% endif %}
                                                    </b> - Frw
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
</div>
</div>
</div>
{% endblock %}