{% extends 'base_tab.html' %}

                                {% block content %}
                                <div class="panel panel-white">
                                <div class="panel-body">
                                    <div role="tabpanel">
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                                <li role="presentation" class="active"><a href="{{ url_for('member_profile.member_home_page') }}">Amakuru bwite</a></li>
                                                <li role="presentation"><a href="{{ url_for('member_profile.member_stock') }}">Amakuru y'ububiko</a></li>
                                                <li role="presentation"><a href="{{ url_for('member_profile.member_finance') }}">Amakuru y'imari</a></li>
                                                <li role="presentation"><a href="{{ url_for('member_profile.member_share') }}">Imigabane</a></li>
                                                <li role="presentation"><a href="{{ url_for('member_profile.member_notification') }}">Amatangazo</a></li>
                                                <!--<li role="presentation"><a href="#tab24" role="tab" data-toggle="tab">Tab 4</a></li>-->
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content">

                                                <div class="col-md-3">
                                                    <img src="https://www.w3schools.com/howto/img_avatar.png" class="img-responsive">
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="panel panel-white">
                                                        <div class="panel-body">
                                                            <div class="project-stats">
                                                                <ul class="list-unstyled">
                                                                    <li>Amazina<div class="text-info pull-right">Muhiza frank</div></li>
                                                                    <li>Taliki y'amavuko<div class="text-info pull-right">12/05/1985</div></li>
                                                                    <li>Indangamuntu<div class="text-info pull-right">1199680022162281</div></li>
                                                                    <li>Akarere<div class="text-info pull-right">Burera</div></li>
                                                                    <li>Umurenge<div class="text-info pull-right">Nyabagendwa</div></li>
                                                                    <li>Umukono<div class="text-info pull-right">XXX</div></li>
                                                                    <li>Telephone<div class="text-info pull-right">0786238301</div></li>
                                                                </ul>



                                                            </div>






                                                        </div>
                                                    </div>
                                                </div>
                                                       
                                            </div>












                                            
                                        </div>
                                </div>
                            </div>

                            {% endblock %}































