{% extends 'base_tab.html' %}

                                {% block content %}





                                                <div class="panel panel-white">
                                <div class="panel-body">
                                    <div role="tabpanel">
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                                <li role="presentation"><a href="{{ url_for('member_profile.member_home_page') }}">Amakuru bwite</a></li>
                                                <li role="presentation"><a href="{{ url_for('member_profile.member_stock') }}">Amakuru y'ububiko</a></li>
                                                <li role="presentation" class="active"><a href="{{ url_for('member_profile.member_finance') }}">Amakuru y'imari</a></li>
                                                <li role="presentation"><a href="{{ url_for('member_profile.member_share') }}">Imigabane</a></li>
                                                <li role="presentation"><a href="{{ url_for('member_profile.member_notification') }}">Amatangazo</a></li>
                                            
                                                <!--<li role="presentation"><a href="#tab24" role="tab" data-toggle="tab">Tab 4</a></li>-->
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content">









                                                  <div class="row white">
                <div class="block">

                    <div class="col-xs-12 col-sm-6 col-md-3">
                            <ul class="pricing">
                                <li>
                                    <h1><div class="text-info">Imisanzu</div></h1>
                                </li>
                                <li>Ikigega = 500</li>
                                <li>Umugabane = 1000</li>
                                <li>Kuziba icyuho = 2000</li>
                                <li>Umusanzu wa Koperative = 500</li>
                                <li>
                                    <h4 style="margin-top:0;">Yose = 4800</h4>
                                    <span>per month</span>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-success btn-rounded">Ishyura</button>
                                </li>
                            </ul>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                            <ul class="pricing">
                                <li>
                                    <h1><div class="text-info">Ibirarane / Inguzanyo </div></h1>
                                </li>
                                <li>Umugabane = 0</li>
                                <li>Kuziba icyuho = 0</li>
                                <li>Umusanzu wa Koperative = 0</li>
                                <li>
                                    <h4 style="margin-top:0;">Yose = 0</h4>
                                    <span>per month</span><br><br>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-success btn-rounded">Ishyura</button>
                                </li>
                            </ul>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                            <ul class="pricing">
                                <li>
                                    <h1><div class="text-info">Ibihano</div></h1>
                                </li>
                                <li>Isuku = 0</li>
                                <li>Inama = 0</li>
                                <li>Ubutinde = 0</li>
                                <li>
                                    <h4 style="margin-top:0;">Yose = 0</h4>
                                    <span>per month</span><br><br><br><br>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-success btn-rounded">Ishyura</button>
                                </li>
                            </ul>
                    </div>


                    <div class="col-xs-12 col-sm-6 col-md-3">
                            <ul class="pricing">
                                <li>
                                    <h1><div class="text-info">Ubwizigame / Ubwishingizi</div></h1>
                                </li>
                                <li>Ejo heza = 1000</li>
                                <li>Ubwisungane = 3000</li>
                                <li>Kuzigamira umushinga = 0</li>
                                <li>Itsinda = 500</li>
                                <li>
                                    <h4 style="margin-top:0;">Yose = 4500</h4>
                                    <span>per month</span>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-success btn-rounded">Ishyura</button>
                                </li>
                            </ul>
                    </div>





                    <div class="col-xs-12 col-sm-6 col-md-3">
                            <ul class="pricing">
                                <li>
                                    <h1><div class="text-info">Guhembwa</div></h1>
                                </li>
                                <li>Umusaruro = 36,000</li>
                                <li>
                                    <h4 style="margin-top:0;">Yose = 4500</h4><br><br>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-success btn-rounded">Yohereze kuri telephone</button>
                                </li>
                            </ul>
                    </div>




                    <div class="col-xs-12 col-sm-6 col-md-3">
                            <ul class="pricing">
                                <li>
                                    <h1><div class="text-info">Konti</div></h1>
                                </li>
                                <li>SACCO = 36,000</li>
                                <li>MoMo = 3,000</li>
                                <li>
                                    <h4 style="margin-top:0;">Yose = 39,00</h4>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-success btn-rounded">Ishyura serivisi</button>
                                </li>
                            </ul>
                    </div>



                </div><!-- /block -->
            </div><!-- /row -->





                                            </div>
                                        </div>
                                </div>
                            </div>








{% endblock %}