{% extends "rukomatanyi_main_base.html" %}
{% block body %}
<div class="col-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <i class="fa fa-cogs bg-flat-color-5 p-3 font-2xl mr-3 float-left text-light"></i>
                    <div class="h5 text-secondary mb-0 mt-1">$4.999,50</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs small">Isanduku</div>
                </div>
                <div class="b-b-1 pt-3"></div>
                <hr>
                <div class="more-info pt-2" style="margin-bottom:-10px;">
                    <a class="font-weight-bold font-xs btn-block text-muted small" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <i class="fa fa-laptop bg-info p-3 font-2xl mr-3 float-left text-light"></i>
                    <div class="h5 text-secondary mb-0 mt-1">$4.999,50</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs small">Bank</div>
                </div>
                <div class="b-b-1 pt-3"></div>
                <hr>
                <div class="more-info pt-2" style="margin-bottom:-10px;">
                    <a class="font-weight-bold font-xs btn-block text-muted small" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <i class="fa fa-moon-o bg-warning p-3 font-2xl mr-3 float-left text-light"></i>
                    <div class="h5 text-secondary mb-0 mt-1">$4.999,50</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs small">Inguzanyo zatanzwe</div>
                </div>
                <div class="b-b-1 pt-3"></div>
                <hr>
                <div class="more-info pt-2" style="margin-bottom:-10px;">
                    <a class="font-weight-bold font-xs btn-block text-muted small" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <i class="fa fa-bell bg-danger p-3 font-2xl mr-3 float-left text-light"></i>
                    <div class="h5 text-secondary mb-0 mt-1">$4.999,50</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs small">Ibiramba</div>
                </div>
                <div class="b-b-1 pt-3"></div>
                <hr>
                <div class="more-info pt-2" style="margin-bottom:-10px;">
                    <a class="font-weight-bold font-xs btn-block text-muted small" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="p-0 clearfix">
                <i class="fa fa-cogs bg-primary p-4 font-2xl mr-3 float-left text-light"></i>
                <div class="h5 text-primary mb-0 pt-3">$1.999,50</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs small">Ububiko</div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body p-0 clearfix">
                <i class="fa fa-laptop bg-info p-4 font-2xl mr-3 float-left text-light"></i>
                <div class="h5 text-info mb-0 pt-3">$1.999,50</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs small">Umugabane Shingiro</div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="p-0 clearfix">
                <i class="fa fa-moon-o bg-warning p-4 font-2xl mr-3 float-left text-light"></i>
                <div class="h5 text-warning mb-0 pt-3">$1.999,50</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs small">Impano/Inkunga</div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="p-0 clearfix">
                <i class="fa fa-bell bg-danger p-4 font-2xl mr-3 float-left text-light"></i>
                <div class="h5 text-danger mb-0 pt-3">$1.999,50</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs small">Inguzanyo / Abandi</div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="p-0 clearfix">
                <i class="fa fa-cogs bg-primary p-4 font-2xl mr-3 float-left text-light"></i>
                <div class="h5 text-primary mb-0 pt-3">$1.999,50</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs small">Ikoreshwa ry'imari</div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-md-6 col-lg-3">

        <!--
        <div class="card">
            <div class="card-body p-0 clearfix">
                <i class="fa fa-laptop bg-info p-4 font-2xl mr-3 float-left text-light"></i>
                <div class="h5 text-info mb-0 pt-3">$1.999,50</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs small">Ibindi</div>
            </div>
        </div>
        -->


    </div>


    <!--/.col-->
    <div class="col-md-6 col-lg-3">
        <!--
        <div class="card">
            <div class="p-0 clearfix">
                <i class="fa fa-moon-o bg-warning p-4 font-2xl mr-3 float-left text-light"></i>
                <div class="h5 text-warning mb-0 pt-3">$1.999,50</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs small">Impano/Inkunga</div>
            </div>
        </div>
        -->
    </div>
    <!--/.col-->
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="p-0 clearfix">
                <i class="fa fa-bell bg-danger p-4 font-2xl mr-3 float-left text-light"></i>
                <div class="h5 text-danger mb-0 pt-3">$1.999,50</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs small">Ibindi</div>
            </div>
        </div>
    </div>
    <!--/.col-->

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Rukomatanyi</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>






			                        <tr>
			                            <th>Isanduku</th>
			                            <th>Bank</th>
			                            <th>Inguzanyo zatanzwe</th>

			                            <th>Ibiramba</th>

			                            <th>Ububiko</th>

			                            <th>Umugabane shingiro</th>

			                            <th>Impano/Inkunga</th>


			                            <th>Inguzanyo dufitiye abandi</th>

			                            
			                            <th>Ibicuruzwa</th>


			                            <th>Ikoreshwa ry'imari</th>
			                        </tr>
						        </thead>
						        <tbody>
						            <tr>
					                	<td>
					                		<table>
					                			<thead>
					                				<th>Aho bigiye (Credit)</th>
									                <th>Aho bivuye (Debit)</th>
									                <th>Asigaye (Solde)</th>
					                			</thead>
					                			<tbody>
					                				{% for isa in isanduku %}
					                					<tr>
					                						<td>{{ isa.ayinjiye }}</td>
											                <td>{{ isa.ayasohotse }}</td>
											                <td>{{ isa.ayinjiye - isa.ayasohotse }}</td>
											            </tr>
					                				{% endfor %}
					                			</tbody>
					                		</table>
					                	</td>
					                	<td>
					                		<table>
					                			<thead>
					                				<th>Aho bigiye (Credit)</th>
									                <th>Aho bivuye (Debit)</th>
					                			</thead>
					                			<tbody>
					                				{% for bank in bank %}
					                					<tr>
					                						<td>{{ bank.ayinjiye }}</td>
											                <td>{{ bank.ayasohotse }}</td>
											            </tr>
					                				{% endfor %}
					                			</tbody>
					                		</table>
					                	</td>
						                
						                <td>
						                	<table>
					                			<thead>
					                				<th>Aho bigiye (Credit)</th>
									                <th>Aho bivuye (Debit)</th>
					                			</thead>
					                			<tbody>
					                				{% for bank in inguzanyo_zatanzwe %}
					                					<tr>
					                						<td>{{ bank.ayinjiye }}</td>
											                <td>{{ bank.ayasohotse }}</td>
											            </tr>
					                				{% endfor %}
					                			</tbody>
					                		</table>
						                </td>

						                <td>
						                	<table>
					                			<thead>
					                				<th>Aho bigiye (Credit)</th>
									                <th>Aho bivuye (Debit)</th>
					                			</thead>
					                			<tbody>
					                				{% for bank in ibiramba %}
					                					<tr>
					                						<td>{{ bank.ayinjiye }}</td>
											                <td>{{ bank.ayasohotse }}</td>
											            </tr>
					                				{% endfor %}
					                			</tbody>
					                		</table>
						                </td>

						                <td>
						                	<table>
					                			<thead>
					                				<th>Aho bigiye (Credit)</th>
									                <th>Aho bivuye (Debit)</th>
					                			</thead>
					                			<tbody>
					                				{% for bank in ububiko %}
					                					<tr>
					                						<td>{{ bank.ayinjiye }}</td>
											                <td>{{ bank.ayasohotse }}</td>
											            </tr>
					                				{% endfor %}
					                			</tbody>
					                		</table>
						                </td>

						                <td>
						                	<table>
					                			<thead>
					                				<th>Aho bigiye (Credit)</th>
									                <th>Aho bivuye (Debit)</th>
					                			</thead>
					                			<tbody>
					                				{% for bank in umugabane_shingiro %}
					                					<tr>
					                						<td>{{ bank.ayinjiye }}</td>
											                <td>{{ bank.ayasohotse }}</td>
											            </tr>
					                				{% endfor %}
					                			</tbody>
					                		</table>
						                </td>

						                <td>
						                	<table>
					                			<thead>
					                				<th>Aho bigiye (Credit)</th>
									                <th>Aho bivuye (Debit)</th>
					                			</thead>
					                			<tbody>
					                				{% for bank in inkunga %}
					                					<tr>
					                						<td>{{ bank.ayinjiye }}</td>
											                <td>{{ bank.ayasohotse }}</td>
											            </tr>
					                				{% endfor %}
					                			</tbody>
					                		</table>
						                </td>

						                <td>
						                	<table>
					                			<thead>
					                				<th>Aho bigiye (Credit)</th>
									                <th>Aho bivuye (Debit)</th>
					                			</thead>
					                			<tbody>
					                				{% for bank in inguzanyo_abandi %}
					                					<tr>
					                						<td>{{ bank.ayinjiye }}</td>
											                <td>{{ bank.ayasohotse }}</td>
											            </tr>
					                				{% endfor %}
					                			</tbody>
					                		</table>
						                </td>

						                <td>
						                	<table>
					                			<thead>
					                				<th>Aho bigiye (Credit)</th>
									                <th>Aho bivuye (Debit)</th>
					                			</thead>
					                			<tbody>
					                				{% for bank in ibicuruzwa %}
					                					<tr>
					                						<td>{{ bank.ayinjiye }}</td>
											                <td>{{ bank.ayasohotse }}</td>
											            </tr>
					                				{% endfor %}
					                			</tbody>
					                		</table>
						                </td>

						                <td>
						                	<table>
					                			<thead>
					                				<th>Aho bigiye (Credit)</th>
									                <th>Aho bivuye (Debit)</th>
					                			</thead>
					                			<tbody>
					                				{% for bank in inguzanyo_abandi %}
					                					<tr>
					                						<td>{{ bank.ayinjiye }}</td>
											                <td>{{ bank.ayasohotse }}</td>
											            </tr>
					                				{% endfor %}
					                			</tbody>
					                		</table>
						                </td>

						            </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .animated -->
    </div><!-- .content -->


</div><!-- /#right-panel -->

    <!-- Right Panel -->







































































































    <br><br>
    <br><br>
    <br><br>
    <br><br>

    <br><br>
    <br><br>
    <br><br>
    <br><br>



    <br><br>
    <br><br>
    <br><br>
    <br><br>

    <br><br>
    <br><br>
    <br><br>
    <br><br>


    </div><!-- /#right-panel -->
{% endblock %}