{% extends "rukomatanyi_main_base.html" %}
{% block body %}
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="">
                            <strong class="card-title">Inkunga </strong>
                        </div>
                        <div class="pull-right">
                            <a href="{{ url_for('aicos_req.record_inkunga') }}" class="btn btn-primary btn-md">Injiza ibishya</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
							     <tr>
		                            <th>Aho Bigiye</th>
		                            <th>Aho Bivuye</th>
		                            <th>Hindura</th>
		                            <th>Siba</th>
		                        </tr>
					        </thead>
					        <tbody>
					            {% if inkunga %}
                                    {% for inkunga in inkunga %}
                                        <tr>
                                            <td>{{ inkunga.ayinjiye }}</td>
                                            <td>{{ inkunga.ayasohotse }}</td>
                                            <td>
                                                <a href="#" class="badge badge-success">
                                                    Hindura
                                                </a>  
                                            </td>
                                            <td>
                                                <a href="#" class="badge badge-danger">
                                                    Siba
                                                </a>               
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
				           </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div>
{% endblock %}