{% import "bootstrap/utils.html" as utils %}
{% extends "federation_base.html" %}
{% block title %}Stock{% endblock %}
{% block body %}
  <div class="container-fluid">
    {{ utils.flashed_messages() }}
      <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div class="tab-pane active" id="home4" role="tabpanel" aria-expanded="false">
                    <div class="card">
                        <div class="card-header bg-light">
                            {{ utils.flashed_messages(dismissible=True) }}
                            <div class="row">
                                <div class="col-md-4">
                                    <h3><b>Ibirarane</b></h3>
                                </div>
                                <div class="col-md-8 text-right">
                                    <!--<a href="{{ url_for('aicos_stock_managment.injizaKonte') }}" class="btn btn-outline-primary">
                                      <i class="fa fa-user-plus"> Injiza Konte</i>
                                    </a>
                                    
                  <a href="#" class="btn btn-outline-secondary">
                                      <i class="fa fa-upload"> Injiza list</i>
                                    </a>
                                    -->
                </div>
                            </div>
                        </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="table-responsive">
            <table id="ferwa8" class="display" cellspacing="0" width="100%">
                  <thead>
                      <tr>
                          <th>Amazina</th>
                          <th>Umusoro w'akarere</th>
                          <th>Umusanzu wa koperative</th>
                          <th>Ikigega</th>
                          <th>Kuziba Icyuho</th>
                          <th>Ibindi</th>
                      </tr>
                  </thead>
                  <tfoot>
                      <tr>
                          <th>Amazina</th>
                          <th>Umusoro w'akarere</th>
                          <th>Umusanzu wa koperative</th>
                          <th>Ikigega</th>
                          <th>Kuziba Icyuho</th>
                          <th>Ibindi</th>
                      </tr>
                  </tfoot>
                  <tbody>
                    {% if employees %}
                        {% for member in employees %}
                              <tr>
                                <td> {{ member.izina_ribanza }} {{ member.izina_rikurikira}} </td>
                                <td>
                                  {% if member.ibirarane %}
                                      {% for ibi in member.ibirarane %}
                                          {% if ibi.member_id == member.id %}
                                              {% if loop.last %}
                                                  {{ ibi.IdeniAmount }}
                                              {% endif %}
                                          {% endif %}
                                      {% endfor %}
                                  {% endif %}
                                </td>
                                <td>
                                  {% if member.ibirarane %}
                                      {% for ibi in member.ibirarane %}
                                          {% if ibi.member_id == member.id %}
                                              {% if loop.last %}
                                                  {{ ibi.DAP * ibi.DAPPerUnity}}
                                              {% endif %}
                                          {% endif %}
                                      {% endfor%}
                                  {% endif %}
                                </td>
                                <td>
                                  {% if member.ibirarane %}
                                      {% for ibi in member.ibirarane %}
                                          {% if ibi.member_id == member.id %}
                                              {% if loop.last %}
                                                  {{ ibi.KCL * ibi.KCLPerUnity}}
                                              {% endif %}
                                          {% endif %}
                                      {% endfor%}
                                  {% endif %}
                                </td>
                                <td>
                                  {% if member.ibirarane %}
                                      {% for ibi in member.ibirarane %}
                                          {% if ibi.member_id == member.id %}
                                              {% if loop.last %}
                                                  {{ ibi.NPKkg * ibi.NPKPerUnity }}
                                              {% endif %}
                                          {% endif %}
                                      {% endfor%}
                                  {% endif %}
                                </td>
                                <td> 
                                <span class="badge badge-info">
                                <b>
                                <a href="#" style="color:white; font-size: 12px;">
                                <i class="fa fa-eye"></i>
                                  ibindi
                                </a>
                                </b>
                                </span>
                                </td>
                              </tr>
                        {% endfor %}
                  {% endif %}
                  </tbody>
              </table>
              <div id="charts"></div>
              <br><br>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-12">
      
    </div>
    </div>
 {% endblock %}