{% import "bootstrap/utils.html" as utils %}
{% extends "federation_base.html" %}
{% block title %}Stock{% endblock %}
{% block body %}
  <div class="container-fluid">
    {{ utils.flashed_messages() }}
      <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div class="tab-pane active" id="home4" role="tabpanel" aria-expanded="false">
                    <div class="card">
                        <div class="card-header bg-light">
                            {{ utils.flashed_messages(dismissible=True) }}
                            <div class="row">
                                <div class="col-md-4">
                                    <h3><b>Ibirarane</b></h3>
                                </div>
                                <div class="col-md-8 text-right">
                                    <!--<a href="{{ url_for('aicos_stock_managment.injizaKonte') }}" class="btn btn-outline-primary">
                                      <i class="fa fa-user-plus"> Injiza Konte</i>
                                    </a>
                                    
                  <a href="#" class="btn btn-outline-secondary">
                                      <i class="fa fa-upload"> Injiza list</i>
                                    </a>
                                    -->
                </div>
                            </div>
                        </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="table-responsive">
            <table id="ferwa2" class="display" cellspacing="0" width="100%">
                  <thead>
                      <tr>
                          <th>Amazina</th>
                          <th>Province</th>
                          <th>Sector</th>
                          <th>Cell</th>
                          <th>Reba Umusaruro</th>
                      </tr>
                  </thead>
                  
                  <tfoot>
                      <tr>
                          <th>Amazina</th>
                          <th>Province</th>
                          <th>Sector</th>
                          <th>Cell</th>
                          <th>Reba Umusaruro</th>
                      </tr>
                  </tfoot>
                  <tbody>
                    {% if employee %}
                      {% for member in employee %}
                        <tr>
                          <td>{{ member.name }}</td>
                          <td>{{ member.province }}</td>
                          <td>{{ member.sector }}</td>
                          <td>{{ member.cell }}</td>
                          <td>
                            <a href="{{ url_for('aicos_ferwacotamo.coop_ibihano', email=member.email) }}">
                              <span class="badge badge-info" style="font-size: 14px;"><li class="fa fa-eye"></li>Ibindi</span>
                            </a>
                          </td>
                        </tr>
                     {% endfor %}
                  {% endif %}
                  </tbody>
              </table>
              <div id="charts"></div>
              <br><br>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-12">
      
    </div>
    </div>
 {% endblock %}