{% import "bootstrap/utils.html" as utils %}
{% extends "req_base.html" %}
{% block body %}
<div class="">
    {{ utils.flashed_messages() }}
	<div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="">
                                	<strong class="h3 card-title">
                                	<span class="ti-angle-double-right"></span>{% if itsindaName %} Ongeramo abandi ba banyamuryango {% endif %}</strong>
                                </div>
                            </div>
                            <div class="content">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                          <th>izina_ribanza</th>
                                          <th>izina_rikurikira</th>
                                          <th>itsinda</th>
                                          <th>Ongeramo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if members %}
                                        	{% for member in members %}
                                        		<tr>
                                        			<td>{{ member.izina_ribanza }}</td>
                                        			<td>{{ member.izina_rikurikira }}</td>
                                        			<td>
                                        				{% if itsindaName %}
                                        					{{ itsindaName.itsinda_name }}
                                        				{% endif %}
                                        			</td>
                                        			<td>
                                        				<a href="{{ url_for('aicos_req.ongeramo_member', a=member.id, b=itsindaName.id) }}" class="badge badge-success">Ongeramo</a>
                                        			</td>
                                        		</tr>
                                        	{% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
</div>
{% endblock %}