{% extends "req_base.html" %}
{% block body %}
<div class="">
	<div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="">
                                	<strong class="h3 card-title">
                                	<span class="ti-angle-double-right"></span>{% if itsindaName %} {{ itsindaName.itsinda_name }} {% endif %}</strong>
                                </div>
                                <div class="pull-right">
                            		<a href="{{ url_for('aicos_req.add_members', id=itsindaName.id) }}" class="btn btn-primary btn-large">Andika abashya</a>
                            	</div>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered" style="width: 100%;">
                                    <thead>
                                        <tr>
                                          <th>izina_ribanza</th>
                                          <th>izina_rikurikira</th>
                                          <th>itsinda</th>
                                          <th>Siba</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if itsindamember %}
                                        	{% for member in itsindamember %}
                                        		<tr>
                                        			<td>{{ member.member_firstname }}</td>
                                        			<td>{{ member.member_secondname }}</td>
                                        			<td>
                                        				{% if itsindaName %}
                                        					{{ itsindaName.itsinda_name }}
                                        				{% endif %}
                                        			</td>
                                        			<td>
                                        				<a href="#" class="badge badge-danger">Siba</a>
                                        			</td>
                                        		</tr>
                                        	{% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
</div>
{% endblock %}