{% extends "req_base.html" %}
    {% block body %}

    <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Amatsinda ari muri Cooperative</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <a href="{{ url_for('aicos_req.koraItsinda') }}">
                    	<div class="page-title">
	                        <ol class="breadcrumb text-right">
	                        <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-star"></i>
	                        &nbsp; Kora itsinda</button>
	                        </ol>
	                    </div>
                    </a>
                </div>
            </div>
        </div><br><br>

    	{% if amatsinda %}
    		{% for itsinda in amatsinda %}
    			<div class="col-lg-3 col-md-6">
			        <div class="card">
			            <a href="{{ url_for('aicos_req.amatsindaMembers', id=itsinda.id) }}">
                            <div class="card-body">
                                <div class="stat-widget-four">
                                    <div class="stat-icon dib">
                                        <i class="fa fa-users text-danger border-dange"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-heading">{{ itsinda.itsinda_name }}</div>
                                            <div class="stat-text">{{ itsinda.description }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>         
                        </a>
			        </div>
    			</div>
    		{% endfor %}
    	{% else %}

    	{% endif %}

    {% endblock %}