{% extends "req_base.html" %}
{% block content %}
<!-- Page Inner -->
<div class="page-inner no-page-title">
    <div class="page-title">
        <div class="row">
            <div class="col-md-6">
                <h3 class="breadcrumb-header">Cooperative groups</h3>
            </div>
            <div class="col-md-6 text-right">
                <a href="{{ url_for('aicos_req.koraItsinda') }}">
                    <button type="button" class="btn btn-success btn-lg"> Create new group </button>
                </a>
            </div>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="row">

            {% if amatsinda %}
            {% for itsinda in amatsinda %}

            <div class="col-md-4">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">{{ itsinda.itsinda_name }}</h4>
                        <h4 class="panel-title">{{ itsinda.description }}</h4>
                    </div>
                    <div class="panel-body">
                        <div class="browser-stats">
                            <ul class="list-unstyled">
                                <li><a href="{{ url_for('aicos_req.amatsindaMembers', id=itsinda.id) }}">
                                        <i class="fa fa-tablet"></i>Group members <div class="text-success pull-right">
                                            52 <i class="fa fa-level-up"></i></div></a></li>
                                <li><i class="fa fa-tablet"></i>Group plot<div class="text-success pull-right">
                                        rikurikira <i class="fa fa-level-up"></i></div>
                                </li>
                                <li><i class="fa fa-tablet"></i>Group harvest<div class="text-success pull-right">
                                        Ayandi <i class="fa fa-level-up"></i></div>
                                </li>
                                <li><i class="fa fa-tablet"></i>Group savings<div class="text-danger pull-right">
                                        tariki_yavukiye <i class="fa fa-level-down"></i></div>
                                </li>
                                <li><i class="fa fa-tablet"></i>Group stock<div class="text-danger pull-right"> Igitsina
                                        <i class="fa fa-level-down"></i></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}

            {% endif %}





        </div><!-- Row -->
    </div><!-- Main Wrapper -->
    <div class="page-footer">
        <p>Extra technologies ltd.</p>
    </div>
</div><!-- /Page Inner -->
{% endblock %}