   {% extends "req_base.html" %}
    {% block body %}
        <div class="container"><br>
        <h3> Governance Books </h3>
            <div class="row mt-4">
                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.intekoRusangeList') }}">
                        <div class="card border border-primary">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Inteko Rusange </strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Igitabo cyandikwamo inyandiko-mvugo z’inama y’inteko rusange.</p>
                            </div>
                        </div>
                    </a>
                    </div>

                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.inamaUbuyoboziList') }}">
                        <div class="card border border-secondary">
                            <div class="card-header">
                                <strong class="card-title">
                                    <span class="ti-folder"></span> Inama y'ubuyobozi 
                                </strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Igitabo cyandikwamo inyandiko-mvugo z’inama y’ubuyobozi. 
                                </p>
                            </div>
                        </div>
                    </a>
                    </div>

                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.ubugenzuziList') }}">
                        <div class="card border border-success">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Inama y'ubugenzuzi 
                                </strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Igitabo cyandikwamo inyandiko-mvugo  z’inama y’ubugenzuzi.</p>
                            </div>
                        </div>
                    </a>
                    </div>
                </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br>
{% endblock %}