   {% extends "req_base.html" %}
    {% block body %}
        <div class="container">
        <h3> Accounting Book </h3>
            <div class="row mt-4">
                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.rukomatanyi') }}">
                        <div class="card border border-primary">
                            <div class="card-header bg-success" style="color: #fff;">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Rukomatanyo</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Rukomatanyo</p>
                            </div>
                        </div>
                    </a>
                    </div>





                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.UbwisazureList') }}">
                        <div class="card border border-primary">
                            <div class="card-header bg-primary" style="color: #fff;">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Ubwisazure</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Ubwisazure</p>
                            </div>
                        </div>
                    </a>
                    </div>







                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.rukomatanyi') }}">
                        <div class="card border border-primary">
                            <div class="card-header bg-info" style="color: #fff;">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Imyishurire</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Imyishyirire</p>
                            </div>
                        </div>
                    </a>
                    </div>
                </div>























            <div class="row mt-4">
                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_stock_managment.dashboard') }}">
                        <div class="card border border-primary">
                            <div class="card-header bg-secondary" style="color: #fff;">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Stock </strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text"> Stock </p>
                            </div>
                        </div>
                    </a>
                    </div>










                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.rukomatanyi') }}">
                        <div class="card border border-primary">
                            <div class="card-header bg-danger" style="color: #fff;">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Members </strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Members</p>
                            </div>
                        </div>
                    </a>
                    </div>
                    </div>
















































                    <!--
                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.abanyamuryangoImigabane') }}">
                        <div class="card border border-primary">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Imigabane</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Igitabo cy’abanyamuryango ba Koperative n’imigabane.</p>
                            </div>
                        </div>
                    </a>
                    </div>

                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.isandukuList') }}">
                        <div class="card border border-secondary">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Isanduku</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Ibitabo by’isanduka (Cash book). 
                                <br><br /></p>
                            </div>
                        </div>
                    </a>
                    </div>

                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.abishyuye') }}">
                        <div class="card border border-success">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Abishyuye</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Ibimenyetso bihamya abanyamuryango bishyuye imigabane.</p>
                            </div>
                        </div>
                    </a>
                    </div>
                </div>

            <div class="row mt-4">
                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.bankIbitabo') }}">
                        <div class="card border border-primary">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Ibitabo bya Bank</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Igitabo cy’abanyamuryango ba Koperative n’imigabane.</p>
                            </div>
                        </div>
                    </a>
                    </div>

                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.bankHistory') }}">
                        <div class="card border border-secondary">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Bank History</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Historiques z’amakonti yose (Bank history). 
                                <br><br></p>
                            </div>
                        </div>
                    </a>
                    </div>

                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.abishyuye') }}">
                        <div class="card border border-success">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Signatories</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Urutonde rw’abasinyateri kuri konti (Signatories).</p>
                            </div>
                        </div>
                    </a>
                    </div>
                </div>

            <div class="row mt-4">
                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.bankIbitabo') }}">
                        <div class="card border border-primary">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Cash outflow</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Ibimenyetso bihamya ikoreshwa ry’amafaranga (cash outflow evidences).</p>
                            </div>
                        </div>
                    </a>
                    </div>

                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.bankHistory') }}">
                        <div class="card border border-secondary">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> CashIn</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Ibimenyetso bihamya iyinjiza ry’amafaranga (cash in evidences). 
                                </p>
                            </div>
                        </div>
                    </a>
                    </div>

                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.abishyuye') }}">
                        <div class="card border border-success">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Imitungo Iramba.</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Urutonde rw’imitungo iramba (List of immovables).</p>
                            </div>
                        </div>
                    </a>
                    </div>
                </div>

            <div class="row mt-4">
                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.bankIbitabo') }}">
                        <div class="card border border-primary">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Imitungo Itaramba</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Urutonde rw’imitungo itaramba (List of immovables).</p>
                            </div>
                        </div>
                    </a>
                    </div>
                    
                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.bankHistory') }}">
                        <div class="card border border-secondary">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Imyenda</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Ibitabo by’imyenda  (books of debts and credits). 
                                </p>
                            </div>
                        </div>
                    </a>
                    </div>

                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.abishyuye') }}">
                        <div class="card border border-success">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Umutungo wa Coop.</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Ifoto y’umutungo wa Koperative buri(Balance sheet).</p>
                            </div>
                        </div>
                    </a>
                    </div>
                </div>

            <div class="row mt-4">
                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.bankIbitabo') }}">
                        <div class="card border border-primary">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Igenanyungu</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Ifishi y’igenanyungu (Income statement).   <br><br> </p>
                            </div>
                        </div>
                    </a>
                    </div>
                    
                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.bankHistory') }}">
                        <div class="card border border-secondary">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Icungamari</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Urupapuro rwinjiza muri stock (Stock entry note).
                                </p>
                            </div>
                        </div>
                    </a>
                    </div>

                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.abishyuye') }}">
                        <div class="card border border-success">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Ibibitswe.</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Igitabo/Amafishi y’ibibitswe ( stock statement).</p>
                            </div>
                        </div>
                    </a>
                    </div>
                </div>

            <div class="row mt-4">
                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.bankIbitabo') }}">
                        <div class="card border border-primary">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Gusohora</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Urupapuro rusohora muri stock (Stock exit note). </p>
                            </div>
                        </div>
                    </a>
                    </div>
                    
                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.bankHistory') }}">
                        <div class="card border border-secondary">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Kwinjiza</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Urupapuro rwinjiza muri stock (Stock entry note).
                                </p>
                            </div>
                        </div>
                    </a>
                    </div>

                    <div class="col-md-4">
                    <a href="{{ url_for('aicos_req.abishyuye') }}">
                        <div class="card border border-success">
                            <div class="card-header">
                                <strong class="card-title">
                                <span class="ti-folder"></span> Imisaruro.</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Ibitabo by’imisaruro (Book of crop  collection).</p>
                            </div>
                        </div>
                    </a>
                    </div>-->
                </div>
        </div>
{% endblock %}