{% import "bootstrap/utils.html" as utils %}
{% extends "general_base.html" %}

{% block body%} 
        <h2>
            <br>&nbsp;&nbsp;asset Reports
                {{ utils.flashed_messages() }}
            </br>
        </h2>
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <a href="{{ url_for('aicos_req.new_asset') }}" type="button" class="btn btn-warning"><i class="fa fa-minus"></i>&nbsp; 
                                    <strong>New Asset</strong></a>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <!-- <th>Title</th> -->
                                            <th>Date</th>
                                            <th>Category</th>
                                            <th>Account</th>
                                            <th>Description</th>
                                            <th>Amount</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for asset in assetsAccountings%}
                                        <tr>
                                            <!-- <td>{{asset.Title}}</td> -->
                                            <td>{{asset.Date}}</td>
                                            <td>{{asset.Category}}</td>
                                            <td>{{asset.Account}}</td>
                                            <td>{{asset.Description}}</td>
                                            <td>{{asset.Amount}}</td>
                                            <td><a href="{{ url_for('aicos_req.edit_asset',id=asset.id)}}"><i class="fa fa-pencil"></i></a> <a href="{{ url_for('aicos_req.delete_asset',id=asset.id) }}"><i class="fa fa-close"></i></a></td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->




{% endblock %}