{% extends "members_base.html" %}
    {% block body %}

    <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Zone ziri muri koperative</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <a href="{{ url_for('aicos_members.addZone')}}">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                            <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-star"></i>
                            &nbsp; Kora Zone</button>
                            </ol>
                        </div>
                    </a>
                </div>
            </div>
        </div><br><br>

        {% if zones %}
            {% for zone in zones %}
                <div class="col-md-4">
                        <aside class="profile-nav alt">
                            <section class="card">
                                <div class="card-header user-header alt bg-dark">
                                    <div class="media">
                                        <div class="media-body text-center">
                                            <h2 class="text-light display-6">{{ zone.izina }}</h2>
                                            <p>{{ zone.impamvu }}</p>
                                        </div>
                                    </div>
                                </div>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-user-o"></i> Abanyamuryango <span class="badge badge-primary pull-right">
                                           45 
                                        </span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-tasks"></i> Ubuso <span class="badge badge-danger pull-right">15</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-file-o"></i> Umusaruro <span class="badge badge-success pull-right">11</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-usd"></i> Ubwizigame <span class="badge badge-warning pull-right r-activity">03</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-list"></i> Stock <span class="badge badge-warning pull-right r-activity">03</span></a>
                                    </li>
                                </ul>
                            </section>
                        </aside>
                    </div>
            {% endfor %}
        {% else %}

        {% endif %}
        
    {% endblock %}