{% extends "home_base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block title %}Dashboard{% endblock %}
{% block body %}

<br><br><br><br><br><br><br>
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div style="text-align: center">
            {{ utils.flashed_messages(dismissible=True) }}
            <h1> Uraho, <b>{{ current_user.username }}!</b> </h1>
            <h3> Umaze kwinjiza neza Cooperative muri Sisiteme  </h3>
            <hr class="intro-divider">
            <a href="{{ url_for('auth.login') }}" class="btn btn-outline-success btn-lg">
                <i class="fa fa-user-plus"></i>
                <b>Ongera Winjire</b>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
