{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends 'general_base.html' %}
{% block body %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header bg-light">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <h1 class="center">New Expense Category</h1>
          </div>
          <br/>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            {{ utils.flashed_messages() }}
            {{ wtf.quick_form(form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
