{% import "bootstrap/utils.html" as utils %}
{% extends "general_base.html" %}

{% block body%} 

    <div class="col-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <i class="fa fa-calendar bg-info p-3 font-2xl mr-3 float-left text-light"></i>
                    <div class="h5 text-info mb-0 mt-1">{{monthly_income}}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs small">Current Income<br>This Month</div>
                </div>
                <div class="b-b-1 pt-3"></div>
                <hr>
                <div class="more-info pt-2" style="margin-bottom:-10px;">
                    <a class="font-weight-bold font-xs btn-block text-muted small" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <i class="fa fa-calendar bg-secondary p-3 font-2xl mr-3 float-left text-light"></i>
                    <div class="h5 text-secondary mb-0 mt-1">{{monthly_expense}}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs small">Current Expense<br>This Month</div>
                </div>
                <div class="b-b-1 pt-3"></div>
                <hr>
                <div class="more-info pt-2" style="margin-bottom:-10px;">
                    <a class="font-weight-bold font-xs btn-block text-muted small" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <i class="fa fa-calendar bg-warning p-3 font-2xl mr-3 float-left text-light"></i>
                    <div class="h5 text-warning mb-0 mt-1">{{monthly_balance}}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs small">Current Balance<br>This Month</div>
                </div>
                <div class="b-b-1 pt-3"></div>
                <hr>
                <div class="more-info pt-2" style="margin-bottom:-10px;">
                    <a class="font-weight-bold font-xs btn-block text-muted small" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->

    <div class="col-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <i class="fa fa-download bg-info p-3 font-2xl mr-3 float-left text-light"></i>
                    <div class="h5 text-info mb-0 mt-1">{{yearly_income}}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs small">Your Current Total Income<br>This Year</div>
                </div>
                <div class="b-b-1 pt-3"></div>
                <hr>
                <div class="more-info pt-2" style="margin-bottom:-10px;">
                    <a class="font-weight-bold font-xs btn-block text-muted small" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <i class="fa fa-upload bg-secondary p-3 font-2xl mr-3 float-left text-light"></i>
                    <div class="h5 text-secondary mb-0 mt-1">{{yearly_expense}}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs small">Your Current Total Expense<br>This Year</div>
                </div>
                <div class="b-b-1 pt-3"></div>
                <hr>
                <div class="more-info pt-2" style="margin-bottom:-10px;">
                    <a class="font-weight-bold font-xs btn-block text-muted small" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <i class="fa fa-exchange bg-warning p-3 font-2xl mr-3 float-left text-light"></i>
                    <div class="h5 text-warning mb-0 mt-1">{{yearly_balance}}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs small">Your Current Total Balance<br>This Year</div>
                </div>
                <div class="b-b-1 pt-3"></div>
                <hr>
                <div class="more-info pt-2" style="margin-bottom:-10px;">
                    <a class="font-weight-bold font-xs btn-block text-muted small" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->







        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card border border-info">
                            <div class="card-header bg-info" style="color: #fff;">
                                <strong class="card-title">
                                    <i class="fa fa-bar-chart-o"></i> Latest 10 Income </strong>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Title</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Account</th>
                                            <th scope="col">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for income in incomes%}
                                        <tr>
                                            <td>{{income.Title}}</td>
                                            <td>{{income.Date}}</td>
                                            <td>{{income.Account}}</td>
                                            <td>{{income.Amount}}</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                                <div class="more-info pt-2" style="margin-bottom:-10px;">
                                    <a class="font-weight-bold font-xs btn-block text-muted small text-center" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="card border border-secondary">
                            <div class="card-header bg-secondary" style="color: #fff;">
                                <strong class="card-title">
                                    <i class="fa fa-bar-chart-o"></i> Latest 10 Expense  </strong> 
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Title</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Account</th>
                                            <th scope="col">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for expense in expenses%}
                                        <tr>
                                            <td>{{expense.Title}}</td>
                                            <td>{{expense.Date}}</td>
                                            <td>{{expense.Account}}</td>
                                            <td>{{expense.Amount}}</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                                <div class="more-info pt-2" style="margin-bottom:-10px;">
                                    <a class="font-weight-bold font-xs btn-block text-muted small text-center" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> <br><br><br>



                    <div class="col-md-6">
                        <div class="card border border-warning">
                            <div class="card-header bg-warning" style="color: #fff;">
                                <strong class="card-title">
                                    <i class="fa fa-bar-chart-o"></i> Account Balances  </strong>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Title</th>
                                            <th scope="col">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for acc in accounts%}
                                        <tr>
                                            <td>{{acc.AccountName}}</td>
                                            <td>{{acc.Amount}}</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                                <div class="more-info pt-2" style="margin-bottom:-10px;">
                                    <a class="font-weight-bold font-xs btn-block text-muted small text-center" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="card border border-success">
                            <div class="card-header bg-success" style="color: #fff;">
                                <strong class="card-title">
                                    <i class="fa fa-bar-chart-o"></i>  Budget Progress On March 2019  </strong>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Period</th>
                                            <th scope="col">Initial</th>
                                            <th scope="col">Used%</th>
                                            <th scope="col">Time%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Monthly</td>
                                            <td>{{monthly_budget}}</td>
                                            <td>{{m_budget_used}}%</td>
                                            <td>{{m_time_passed}}</td>
                                        </tr>
                                        <tr>
                                            <td>Quarterly</td>
                                            <td>{{quarterly_budget}}</td>
                                            <td>{{q_budget_used}}%</td>
                                            <td>{{q_time_passed}}</td>
                                        </tr>
                                        <tr>
                                            <td>Yearly</td>
                                            <td>{{yearly_budget}}</td>
                                            <td>{{y_budget_used}}</td>
                                            <td>{{y_time_passed}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="more-info pt-2" style="margin-bottom:-10px;">
                                    <a class="font-weight-bold font-xs btn-block text-muted small text-center" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>


















                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3"> Reports Expense/Income  </h4>
                                <canvas id="sales-chart"></canvas>
                            </div>
                        </div>
                    </div><!-- /# column -->

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">  Report Expense/Income This Month  </h4>
                                <canvas id="team-chart"></canvas>
                            </div>
                        </div>
                    </div><!-- /# column -->






                    </div>
                    </div>

{% endblock %}